<blockquote class="tweet-this">
  <p>
    <a href="http://twitter.com/intent/tweet?url={{ .Permalink }}&text=&quot;{{ .Title }}&quot;&via={{ .Site.Params.twitter }}" target="_blank">
      "{{ .Title }}" via <span class="twitter-username">{{ .Site.Params.twitter }}</span>
    </a>
  </p>
  <a href="http://twitter.com/intent/tweet?url={{ .Permalink }}&text=&quot;{{ .Title }}&quot;&via={{ .Site.Params.twitter }}" target="_blank">
    <i class="fa fa-twitter"></i>Click to Tweet
  </a>
</blockquote>